@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

:root {
	--body-color: #2c2d2a;
	--savanna-bg: #e9bf8b;
	--beach-bg: #e7dfcf;
	--glacier-bg: #b6d6c8;
	--coral-bg: #e86357;
	--arrow-fill: #333231;
	--body-font: "Montserrat", sans-serif;
	--italic-font: "EB Garamond", serif;
	box-sizing: border-box;
	overflow: visible !important;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: var(--body-color);
}
h1,
h2,
h3 {
	margin: 0;
}

.myswiper {
	width: 100% !important;
	height: calc(100vh - 8rem) !important;
	position: relative;
	border-radius: 4px;
	scroll-behavior: smooth;
	background-color: var(--glacier-bg);
	@media screen and (max-width: 426px) and (min-width: 320px) {
		height: auto !important;
		top: -2.5rem;
	}
}

.main {
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	// justify-content: space-around;
	border: 5px solid rgb(196, 20, 1);
	@media screen and (max-width: 767px) {
		flex-direction: column;
		gap: 0rem;
	}
	@media screen and (max-width: 425px) {
		flex-direction: column;
		gap: 0rem;
		height: auto;
	}

	&-header {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 4px;
		font-weight: 600;
		transition-delay: 0.2s;
	}

	&-title {
		font-family: var(--italic-font);
		font-size: 100px;
		font-weight: 400;
		margin-top: 10px;
		line-height: 1em;
		transition-delay: 0.3s;
	}

	&-subtitle {
		font-family: var(--italic-font);
		font-weight: 400;
		font-size: 32px;
		margin-top: 14px;
		margin-bottom: 60px;
		transition-delay: 0.4s;
	}

	&-content {
		&__title {
			font-size: 26px;
			font-family: var(--italic-font);
			font-style: italic;
			margin-bottom: 14px;
			// transition-delay: 0.2s;
		}

		&__subtitle {
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 24px;
			letter-spacing: -0.01em;
			transition-delay: 0.3s;
		}

		.more-menu {
			font-size: 13px;
			font-weight: 500;
			display: flex;
			align-items: center;
			transition-delay: 0.4s;

			@media screen and (max-width: 930px) {
				justify-content: center;
			}

			svg {
				width: 28px;
				height: 18px;
				margin-left: 10px;
			}
		}
	}
}

.swiper-slide {
	opacity: 0 !important;
	transition: 0.4s;
	display: flex !important;
	// gap: 10rem;
	&-active {
		opacity: 1 !important;
	}
}
.left-side {
	display: flex;
	max-width: 30%;
	padding: 2em;
	justify-content: center;
	// border: 5px solid blue;
	flex-direction: column;
	gap: 1em;

	@media screen and (max-width: 1024px) and (min-width: 768px) {
		max-width: 40%;
		font-size: 0.3rem;
	}
	@media screen and (max-width: 426px) {
		max-width: 90%;
		gap: 0em;
	}
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 70%;
	width: 40%;
	// border: 5px solid red;
	overflow: hidden; /* Added this line */

	@media screen and (max-width: 767px) {
		width: 100%;
	}
	@media screen and (max-width: 426px) {
	}

	.bottle-img {
		position: relative;
		max-width: 70%;
		max-height: 80%;
		@media screen and (max-width: 1024px) and (min-width: 768px) {
			max-width: 80%;
			font-size: 0.3rem;
		}
		@media screen and (max-width: 767px) {
			max-width: 100%;
			max-height: 100%;
		}
		@media screen and (max-width: 425px) {
			height: 30rem !important;
			width: 30rem !important;
		}
	}
}

.swiper-pagination {
	position: absolute;
	right: 30px;
	left: auto;
	// border: 5px solid green;
	top: 100px;
	width: auto;
	bottom: auto;
	z-index: 2;
	font-size: 14px;
	font-family: var(--body-font);
	font-weight: 500;
}

.button-wrapper {
	position: absolute;
	right: 30px;
	// border: 5px solid green;
	bottom: 20px;
	z-index: 1;
	display: flex;
	align-items: center;

	@media screen and (max-width: 930px) {
		top: 0;
		left: 0;
		width: 100%;
		justify-content: space-between;
		padding: 0 60px;
	}

	@media screen and (max-width: 575px) {
		padding: 0 20px;
	}

	svg {
		width: 28px;
	}

	.swiper-button {
		border: 1px solid var(--body-color);
		border-radius: 50%;
		width: 44px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(to right, var(--body-color) 40%, transparent 0%);
		background-size: 200% 100%;
		background-position: right bottom;
		transition: all 0.3s ease-out;
		cursor: pointer;

		& + .swiper-button {
			margin-left: 16px;

			@media screen and (max-width: 930px) {
				margin-left: 0;
			}
		}

		&:hover {
			background-color: var(--body-color);
			background-position: left bottom;
			svg {
				stroke: #fff;
			}
		}
	}

	.swiper-prev-button {
		background: linear-gradient(to left, var(--body-color) 40%, transparent 0%);
		background-size: 200% 100%;
		background-position: left bottom;
		transition: all 0.3s ease-out;
		svg {
			transform: rotate(-180deg);
		}
		&:hover {
			background-position: right bottom;
		}
	}
}

.swiper-slide .main-wrapper > *,
.swiper-slide .main-content > * {
	// transform: translateY(15rem);
	opacity: 0;
	transition-duration: 0.8s;
}

.swiper-slide-active .main-wrapper > *,
.swiper-slide-active .main-content > * {
	transform: none;
	opacity: 1;
}

.swiper-slide .bottle-bg {
	transition-duration: 0.6s;
	opacity: 0;
	object-position: 60%;
}

.swiper-slide-active .bottle-bg {
	opacity: 1;
	transform: none;
	object-position: 50%;
}

.swiper-slide .bottle-img {
	transition-duration: 0.8s;
	transform: scale(1.2);
	opacity: 0;
}

.swiper-slide-active .bottle-img {
	opacity: 1;
	transform: scale(1);
}
