@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;0,700;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
   /* background: rgb( 0 100 0 / 0.1 ) !important; */
}

.flexc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-wrapper {
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}

.open {
  transform: translateX(0);
}

.headertop-visible {
  transform: translate(0);
}
.headertop-hidden {
  transform: translatey(-4.5rem);
}

