@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .li-center{
    height: min-content;
    cursor: pointer;
   
  }
  .li-center:hover{
    background-color: #b15757;
  }
}